/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* font-family: "Inter", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
/* font-family: "Dancing Script", cursive; */
body {
  background: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}
/* Header Style Start Here */
header {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.795),
    rgba(255, 255, 255, 0.164)
  );
  padding: 0% 8%;
}
/* Nav-Bar Style Start Here */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.nav-bar-title {
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 120%;
  font-style: italic;
}
.nev-bar-menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 47px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px 4px;
}
.nav-bar-item {
  padding: 12px 24px;
  border-radius: 46px;
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
}
.highlight {
  background: rgb(230, 83, 60);
}
.nav-bar-menu-icon {
  display: none;
}
/* Nav-Bar Style END Here */
/* Nav-Bar Responsive Media Query Start Here */
@media screen and (max-width: 576px) {
  .nav-bar {
    padding: 10% 0;
    /* margin-bottom: 10%; */
  }
  .nev-bar-menu-container {
    display: none;
  }
  .nav-bar-menu-icon {
    display: block;
    background: rgb(255, 255, 255);
  }
}
/* Nav-Bar Responsive Media Query End Here */
/* Banner Style Start Here */
.banner-container {
  display: flex;
  align-items: center;
  gap: 18%;
}
.bnner-content {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.banner-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 4.87rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
}
.text-style {
  font-family: "Dancing Script", cursive;
  font-size: 4.87rem;
  font-weight: 50;
}
.banner-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.031rem;
}
.banner-btn {
  display: flex;
  gap: 3%;
}
.btn {
  max-width: 224px;
  padding: 16px 40px;
  border-radius: 42px;
  background: transparent;
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 1.37rem;
  letter-spacing: 0px;
  border: none;
  border: 1px solid rgb(255, 255, 255);
}
.primary-btn {
  background: rgb(230, 83, 60);
  border: none;
}
.stycker {
  max-width: 210px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 17px 10px;
  position: absolute;
}
.upper-stycker {
  margin: -450px 0px 0px 240px;
}
.upper-stycker-hed {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 0px 0px 2.5px 0px;
}
.upper-stycker-about {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 2.5px 0px 0px 0px;
}
.lower-stycker {
  display: flex;
  padding: 20px 10px 20px 10px;
  align-items: center;
  gap: 10px;
  margin-left: -113px;
  margin-top: -163px;
}
.lower-stycker-left {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(230, 83, 60);
}
.lower-stycker-hed {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 0px 0px 2.5px 0px;
}
.lower-stycker-about {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 2.5px 0px 0px 0px;
}
/* Banner Style END Here */
/* Banner Responsive Media Query Start Here */
@media screen and (max-width: 576px) {
  .banner-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-image {
    display: block;
    margin: 0 auto;
  }
  .upper-stycker {
    margin-top: -530px;
    margin-left: 48%;
  }
  .lower-stycker {
    margin-left: 12px;
    margin-top: -340px;
  }
  .banner-images {
    width: 100%;
  }
}
/* Banner Responsive Media Query End Here */
/* Header Style END Here */
/* ------------------------------ */
/* Main Style Start Here */
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Habit Section Style Start Here */
.habit {
  margin: 100px auto;
}
.habit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.habit-content {
  max-width: 47%;
}
.habit-content-title {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin: 10px auto;
}
.habit-content-description {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.019rem;
  text-align: center;
}
.habit-items {
  display: flex;
}
.habit-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.habit-image {
  border-radius: 100%;
  border: 2px solid rgb(75, 75, 75);
}
.habit-items-title {
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  margin: 20px auto 10px;
}
.habit-items-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.019rem;
  margin: 0px auto;
  text-align: center;
  padding: 0px 40px;
}
/* Habit Section Responsive Media Query Start Here */
@media screen and (max-width: 576px) {
  .habit-content {
    max-width: 90%;
  }
  .habit-items {
    flex-direction: column;
    gap: 20px;
  }
  .habit-image {
    width: 70%;
  }
  .habit-items {
    gap: 50px;
  }
}
/* Habit Section Responsive Media Query End Here */
/* Habit Section Style END Here */
/* Join Section Style Start Here */
.join-container {
  display: flex;
  gap: 160px;
  padding: 32px;
  justify-content: space-between;
  border-radius: 18px;
  background: rgb(34, 34, 34);

}
.join-content-container {
  padding: 10px;
}
.join-title {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  margin: 0;
}
.join-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.019rem;
  width: 60%;
  margin-bottom: 20px;
}

.join-btn {
  width: 224px;
  padding: 16px 40px;
  border-radius: 42px;
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 1.37rem;
  letter-spacing: 0px;
  background: rgb(230, 83, 60);
  border: none;
}
.join-images {
 /* border: 3px solid gold; */
  max-width: 30%;
  overflow: hidden;
  border-radius: 18px;
  /* background-color: brown; */
}
.join-image {
  width: 100%;
  height: 100%;
  /* border: 3px solid rgb(255, 0, 0); */
}
/* Join Section Responsive Media Query Start Here */
@media screen and (max-width: 576px) {
  .join{
    width: 90%;
  }
  .join-container {
    flex-direction: column;
    gap: 20px;
  }
  .join-btn {
    width: 100%;
  }
  .join-description {
    width: 100%;
  }
  .join-images{
    max-width: 100%;
  }
  .join-image{
    width: 100%;
    height: 100%;
  }
}
/* Join Section Responsive Media Query End Here */
/* Join Section Style END Here */
