/* Google Font */
/* font-family: "Inter", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* font-family: "Great Vibes", cursive; */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
/* Google Font */
/* Full Body Style Start Here */
body {
  background: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}
/* Full Body Style End Here */
/* Header Default Style Start Here */
header {
  max-width: 1300px;
  margin: 0 auto;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.795),
    rgba(255, 255, 255, 0.164)
  );
  padding: 0% 8%;
}
/* Header Default Style End Here */
/* Nav-Bar Style Start Here */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding-top: 20px;
}
.nav-bar-title {
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 120%;
  font-style: italic;
}
.nev-bar-menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 47px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px 4px;
}
.nav-bar-item {
  padding: 12px 24px;
  border-radius: 46px;
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
}
.nav-bar-item:hover {
  background-color: rgb(133, 18, 0);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.highlight {
  background: rgb(230, 83, 60);
}
.nav-bar-menu-icon {
  display: none;
}
/* Nav-Bar Responsive Media Query Start Here */
@media screen and (max-width: 576px) {
  .nav-bar {
    padding: 10% 0;
  }
  .nav-bar-title {
    color: rgb(230, 83, 60);
    font-size: 3rem;
  }
  .nev-bar-menu-container {
    display: none;
  }
  .nav-bar-menu-icon {
    display: block;
    background: rgb(255, 255, 255);
  }
}
/* Nav-Bar Responsive Media Query End Here */
/* Nav-Bar Style END Here */
/* Banner Style Start Here */
.banner-container {
  display: flex;
  align-items: center;
  gap: 18%;
}
.bnner-content {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.banner-title {
  color: rgb(255, 255, 255);
  font-size: 4.87rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  max-width: 90%;
}
.text-style {
  font-family: "Great Vibes", cursive;
  font-size: 9.87rem;
  font-weight: 100;
  line-height: 50px;
}
.banner-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.031rem;
}
.banner-btn {
  display: flex;
  gap: 3%;
}
.btn {
  max-width: 224px;
  padding: 16px 40px;
  border-radius: 42px;
  background: transparent;
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 1.37rem;
  letter-spacing: 0px;
  border: none;
  border: 1px solid rgb(255, 255, 255);
}
.btn:hover {
  background-color: rgb(133, 18, 0);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.primary-btn {
  background: rgb(230, 83, 60);
  border: none;
}
.primary-btn:hover {
  background-color: rgb(133, 18, 0);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.stycker {
  max-width: 210px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 17px 10px;
  position: absolute;
}
.upper-stycker {
  margin: -450px 0px 0px 240px;
}
.upper-stycker-hed {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 0px 0px 2.5px 0px;
}
.upper-stycker-about {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 2.5px 0px 0px 0px;
}
.lower-stycker {
  display: flex;
  padding: 20px 10px 20px 10px;
  align-items: center;
  gap: 10px;
  margin-left: -113px;
  margin-top: -163px;
}
.lower-stycker-left {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(230, 83, 60);
}
.lower-stycker-hed {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 0px 0px 2.5px 0px;
}
.lower-stycker-about {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 2.5px 0px 0px 0px;
}
/* Banner Responsive Media Query Start Here */
@media screen and (max-width: 576px) {
  .banner-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-title {
    font-size: 2.97rem;
    max-width: 90%;
  }
  .text-style {
    font-family: "Great Vibes", cursive;
    font-size: 5.87rem;
    font-weight: 100;
    line-height: 50px;
  }
  .banner-image {
    display: block;
    margin: 0 auto;
  }
  .upper-stycker {
    margin-top: -530px;
    margin-left: 48%;
  }
  .lower-stycker {
    margin-left: 12px;
    margin-top: -340px;
  }
  .banner-images {
    width: 100%;
  }
}
/* Banner Responsive Media Query End Here */
/* Banner Style END Here */
/* Header Style END Here */
/* ------------------------------ */
/* Main Default Style Start Here */
main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Main Default Style Start Here */
/* Habit Section Style Start Here */
.habit {
  margin: 100px auto;
  max-width: 1200px;
}
.habit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.habit-content {
  max-width: 55%;
}
.habit-content-title {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin: 10px auto;
}
.habit-content-description {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.019rem;
  text-align: center;
}
.habit-items {
  display: flex;
}
.habit-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.habit-image {
  border-radius: 100%;
  border: 2px solid rgb(75, 75, 75);
}
.habit-image:hover {
  transform: scaleX(-1) scale(1.2);
  transition: 1s ease;
}
.habit-items-title {
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  margin: 20px auto 10px;
}
.habit-items-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.019rem;
  margin: 0px auto;
  text-align: center;
  padding: 0px 40px;
}
/* Habit Section Responsive Media Query Start Here */
@media screen and (max-width: 576px) {
  .habit {
    margin: 0px auto 50px;
  }
  .habit-content-title {
    color: rgb(255, 255, 255);
    font-size: 2.1rem;
    margin-top: 8%;
  }
  .habit-content {
    max-width: 90%;
  }
  .habit-items {
    flex-direction: column;
    gap: 20px;
    gap: 50px;
  }
  .habit-image {
    width: 70%;
  }
  .habit-image:hover {
    transform: scale(1.1);
  }
}
/* Habit Section Responsive Media Query End Here */
/* Habit Section Style END Here */
/* Join Section Style Start Here */
.join {
  max-width: 1200px;
}
.join-container {
  display: flex;
  gap: 160px;
  padding: 32px;
  justify-content: space-between;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}
.join-content-container {
  padding: 10px;
}
.join-title {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  margin: 0;
}
.join-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.019rem;
  width: 90%;
  margin-bottom: 20px;
}
.join-btn {
  width: 224px;
  padding: 16px 40px;
  border-radius: 42px;
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 1.37rem;
  letter-spacing: 0px;
  background: rgb(230, 83, 60);
  border: none;
}
.join-btn:hover {
  background-color: rgb(133, 18, 0);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.join-images {
  max-width: 30%;
  overflow: hidden;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-image {
  width: 150%;
  height: 150%;
}
.join-image:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
}
/* Join Section Responsive Media Query Start Here */
@media screen and (max-width: 576px) {
  .join {
    width: 90%;
  }
  .join-container {
    flex-direction: column;
    gap: 20px;
  }
  .join-title {
    font-size: 2.5rem;
  }
  .join-btn {
    width: 100%;
  }
  .join-description {
    width: 100%;
  }
  .join-images {
    max-width: 100%;
  }
  .join-image {
    width: 100%;
    height: 100%;
  }
}
/* Join Section Responsive Media Query End Here */
/* Join Section Style END Here */
/* BMI Section Style Start Here */
.bmi {
  width: 100%;
}
.bmi-container {
  display: flex;
  flex-direction: column;
}
.bmi-container-head-title {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 1%;
  margin-left: 20%;
}
.bmi-container-head-description {
  color: rgba(255, 255, 255, 0.5);
  max-width: 50%;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.019rem;
  margin-left: 20%;
  margin-bottom: 5%;
}
.bmi-container-content {
  background: rgb(34, 34, 34);
  display: flex;
  padding: 0% 10% 3% 10%;
  margin: 0;
}
.bmi-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.bmi-left-title {
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
}
table,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  padding: 10px 20px;
}
th {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
td {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
}
.bmi-right {
  width: 50%;
}
.bmi-right-content {
  width: 100%;
}
.bmi-right-title {
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
.bmi-right-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.019rem;
}
.input-txt {
  color: rgba(255, 255, 255, 0.329);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}
#Height,
#Weight,
#age {
  width: 43%;
  padding: 2%;
  margin: 1.5%;
  border: none;
  margin-left: 0;
}
#sex {
  width: 47%;
  padding: 2%;
  margin: 1.5%;
  border: none;
  margin-left: 0;
}
#activity {
  width: 96.7%;
  padding: 2%;
  margin: 1%;
  border: none;
  margin-left: 0;
}
.bmi-button {
  margin-top: 3%;
}
.bmi-btn {
  max-width: 224px;
  padding: 16px 60px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 1.37rem;
  letter-spacing: 0px;
  border: none;
}
.bmi-btn:hover {
  background-color: rgb(133, 18, 0);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
/* BMI Section Responsive Media Query Start Here */
@media screen and (max-width: 576px) {
  .bmi-container-content {
    flex-direction: column;
    padding-bottom: 10%;
  }
  .bmi-left {
    width: 100%;
  }
  .bmi-right {
    width: 100%;
  }
  .bmi-container-head-title,
  .bmi-container-head-description {
    margin-left: 6%;
  }
  .bmi-container-head-description {
    max-width: 85%;
  }
}
/* BMI Section Responsive Media Query End Here */
/* BMI Section Style END Here */
/* Team Section Style Start Here */
.team {
  max-width: 1200px;
}
.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-title {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 0;
}
.team-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.019rem;
  text-align: center;
  max-width: 90%;
}
.team-name {
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  margin: 5px;
}
.team-position {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  margin: 5px;
}
.team-item-image {
  max-height: 350px;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  opacity: 70%;
}
.team-item-in {
  position: absolute;
  margin-top: -90px;
  margin-left: 20px;
}
.team-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
}
/* Team Section Responsive Media Query Start Here */
@media screen and (max-width: 576px) {
  .team-title {
    font-size: 2.5rem;
  }
  .team-description {
    max-width: 80%;
  }
  .team-items {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 3%;
  }
}
/* Team Section Responsive Media Query End Here */
/* Team Section Style END Here */
/* Suppliment Section Style Start Here */
.suppliment-container {
  max-width: 1200px;
}
.suppliment-title {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 0;
}
.suppliment-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.019rem;
  text-align: center;
  max-width: 70%;
  margin: 20px auto;
}
.suppliment-shop {
  background-color: rgba(97, 96, 96, 0.562);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 2%;
}
.shop-items {
  padding: 4%;
  padding-bottom: 0;
  max-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 25px 0px rgb(17, 17, 17);
  overflow: hidden;
  border-radius: 8px;
}
.suppliment-img {
  border-radius: 10px;
  width: 90%;
  height: 40%;
}
.suppliment-img:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
  overflow: hidden;
}
.reating {
  text-align: center;
  opacity: 70%;
  margin-bottom: 5px;
}
.suppliment-name {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.019rem;
  margin: 10px;
  text-align: center;
}
.price {
  color: rgb(230, 83, 60);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin: 10px;
}
.buy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quantity {
  display: flex;
  justify-content: center;
}
.quantity-title {
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  margin: 5px;
}
#buy-quantity {
  background-color: rgb(151, 151, 151);
  border-radius: 5px;
  border: none;
  width: 45%;
}
#buy-quantity::placeholder {
  text-align: left;
  color: rgba(255, 255, 255, 0.397);
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0%;
}
.buy-now {
  margin: 10px;
  max-width: 100%;
}
.suppliment-buy {
  background-color: rgb(230, 83, 60);
  width: 230px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.747);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.019rem;
  margin: 0px auto;
  padding: 5%;
  border: none;
  cursor: pointer;
}
.suppliment-buy:hover {
  background-color: rgb(133, 18, 0);
  transition: background-color 0.3s ease;
}
/* Suppliment Section Responsive Media Query Start Here */
@media screen and (max-width: 576px) {
  .suppliment-title {
    font-size: 2.3rem;
  }
  .suppliment-description {
    max-width: 80%;
    text-align: left;
  }
  .suppliment-shop {
    grid-template-columns: repeat(1, 1fr);
    max-width: 90%;
    margin: 0 auto;
    padding: 10% 0%;
    gap: 20px;
  }
  .shop-items {
    width: 80%;
    margin: 0 auto;
    box-shadow: 5px 5px 10px 5px rgb(17, 17, 17);
    padding: 6%;
  }
  .suppliment-img {
    width: 90%;
    height: 50%;
  }
}
/* Suppliment Section Responsive Media Query End Here */
/* Suppliment Section Style END Here */
/* Main Style End Here */
/* Footer Style Start Here */
footer {
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  margin: 90px auto 0px;
  overflow: hidden;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 5%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.footer-left {
  max-width: 50%;
}
.footer-left-title {
  color: rgb(230, 83, 60);
  font-size: 4.375rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 10px;
  font-style: italic;
}
.footer-left-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.019rem;
  max-width: 80%;
}
.footer-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-right-first-title {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 10%;
}
.footer-right-first-item {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.438rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  list-style: none;
  margin-bottom: 20px;
}
.footer-right-second-title {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 10%;
}
.footer-right-second-item {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.438rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  list-style: none;
  margin-bottom: 20px;
}
.copyright-container {
  max-width: 100%;
  padding: 1%;
}
.copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.019rem;
}
/* Footer Responsive Media Query Start Here */
@media screen and (max-width: 576px) {
  .footer-container {
    flex-direction: column;
    max-width: 85%;
  }
  .footer-right {
    flex-direction: column;
  }
  .footer-left {
    max-width: 100%;
  }
  .footer-right-second-title {
    margin-top: 15px;
  }
  .footer-left-description {
    max-width: 90%;
  }
  .footer-left-title {
    margin-top: 10%;
  }
  .copyright-container {
    padding: 5%;
  }
}
/* Footer Responsive Media Query End Here */
/* Footer Style END Here */
